body {
    width: 100vw;
    height: 100vh;
    background: url('./images/TwinDefault.jpg') no-repeat fixed;
    background-size: cover;
    position: relative;
}

h1, h4, h5 {
    font-family: 'Gloria Hallelujah', cursive;
}